#root.root {--tabs-margin: 1px;}
#root.root {--tabs-indent: 16px;}
#root.root {--tabs-height: 28px;}

#root.root{
  --transition-full: all 60ms linear !important;
  
  --close-box-display: normal;
  --tab-height-hover-multiplier: 1.5;

	--current-tab-height: var(--tabs-height);
	--tab-defaultheight: calc(var(--tabs-height) + var(--tabs-margin));
}

.Tab:hover{
  transition: var(--transition-full);
	--current-tab-height: calc(var(--tabs-height) * var(--tab-height-hover-multiplier) + var(--tabs-margin));
  height: var(--current-tab-height) !important;
}

.Tab:not(:hover){
  transition: var(--transition-full);
	--current-tab-height: calc(var(--tabs-height) + var(--tabs-margin));
  height: var(--current-tab-height) !important;
}

.Tab .body:after{
  transition: var(--transition-full);
	height: var(--current-tab-height) !important;
	top: calc(-20% * var(--current-tab-height) + var(--tabs-margin));
} 

:root:not(:hover) .Tab
{
	padding-left: 0px !important;
}


:root:not(:hover) .Tab .fav
{
	 margin: 28px;
}


:root:not(:hover) .title
{
   color: transparent !important;
}

.BottomBar .tool-btn
{
	min-width: 12px;
}